#spin_the_wheel {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#wheel {
    display: block;
}

#spin {
    font: 1.5em/0 "Lato", sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    /* Fixed width */
    height: 100px;
    /* Fixed height */
    margin: -50px 0 0 -50px;
    /* Centering using negative margin */
    background: #fff;
    color: black;
    box-shadow: 0 0 0 5px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    /* Makes it circular */
    transition: 0.8s;
}

/* #spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
} */